body {
  font-family: 'Nunito', sans-serif;
}

.header-text {
  margin-top: 20px;
}

.weeks {
  background-color: rgb(139, 139, 139);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
}